textarea {
  font-family: sans-serif;
  background-color: transparent;
  border: 0;

  resize: none;
}

#notebook-editor {
  height: 100%;
  width: 100%;
  padding: 10px;

  background-color: aliceblue;

  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;

  #notebook-textarea {
    font-size: 16px;

    flex-grow: 1;
  }
}

#note-controls {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#note-title-label {
  font-size: larger;
  font-weight: bold;

  height: 3em;
  padding: 0 0 5px 0;

  flex-grow: 1;
}

#delete-note-button {
  background-color: transparent;
  border: none;
  padding: 5px;
  img {
    width: 15px;
    height: 15px;
  }
}

#delete-note-button:hover {
  background-color: lightblue;
}
